<div id="jumbotron">
  <video [autoplay]="true" [muted]="true" [loop]="true" src="/assets/career2.mp4">
  </video>

  <div
    class="jumbotron_text_box">
    <div class="wrap">
      <div class="text-wrap">
        <h2>"This is Title whatever!</h2>
        <h5>"Some description of the business or whatever to put!"</h5>
      </div>
      <div class="btn_wrap">
        <a class="Btn_link" routerLink="" ><b>Sign Up </b>&nbsp;&nbsp;<i class="fa-solid fa-play"></i></a>

      </div>
    </div>

  </div>

  <div class="mouse"> <i class=" fa-solid fa-computer-mouse"></i></div>
</div>

<style>


</style>
