#login{
  background-color: #1e1f24;
  width: 100%;
  height: 100vh;
  position: relative;
}
h1{
  margin-top: 1rem;
}

a{
  text-decoration: none;
}

#container{
  width: 70%;
  margin: 0 auto;
}

.log-in-container{
  padding: 0;
}

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.social-container {
  margin: 50px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 50px;
  width: 50px;
}

.social-container a>i{
  color: #1e2125;
}


.extra-option-wrap{
  margin: 1rem;
}
.extra-option-wrap>a{
  display: block;
  color: grey;
}
.extra-option-wrap>a:hover{
  color: #cc181e;
}

.overlay-container{
  background-image: url("/assets/login/login_bg.jpg");
  background-size: cover;
}

button{
  padding: 18px 45px;
  border-radius: 55px;
  background-color: bisque;
  border: none;
  margin: 1rem;
  font-weight: bold;
  transition: background-color 0.5s ease-in-out;
}
button:hover{
  background-color: var(--hover-color);
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');



@media (max-width: 767px) {
  #container{
    width: 100%;
  }
  .overlay-container{
    height: 40vh;
  }
}
