

#jumbotron{
  padding-top: 65px;
  position: relative;
  width: 100%;
  background: white;
  /*background-image:linear-gradient(to right,rgba(0,0,0,0.6),rgba(0,0,0,0)*/
  /*), url("/assets/church_background.jpg");*/
  background-size: cover;

}

h2{
  font-weight: bold;
  font-size: 44px;
}

p{
  font-size: 20px;
  padding-top: 1rem;
}

.wrap{
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron_text_box{
  color: lightgrey;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*display: flex;*/
  /*align-items: center;*/
  /*width: 50%;*/
  /*height: 40%;*/
  /*top: 45%;*/
  /*left: 50%;*/
  /*transform: translate(-90%,-50%);*/
  /*padding: 1rem 2rem;*/
  /*box-shadow: 0 10px 20px black;*/
  background: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.7)
  );

  /*color: white;*/
  z-index: 10;

}
.jumbotron_text_box>.wrap>p{
  font-size: 1.5rem;
}


.mouse{
  display: block;
  color: white;
  font-size: 35px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  animation: mouse_ani 1s ease-in-out infinite;
  background: none;
}

.btn_wrap{
  margin-top: 1rem;
}
.Btn_link{

  text-align: center;
  display: block;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0.4rem 0.5rem;
  border: 1px solid white;
  text-decoration: none;
  color: inherit;
  transition: background-color 1s ease-in-out,
  color 1s ease-in-out;
  font-size: 14px;
}
.Btn_link>a{
  text-decoration: none;
  color:white;
}
.Btn_link>a:hover{
  color: #1e2125;
}

.Btn_link:hover{
  background-color: aliceblue;
  color: #1e2125;
  cursor: pointer;
}


.btn_wrap{
  text-align: center;
  display: flex;
}


@keyframes mouse_ani {
  0%{
    bottom: 30px;
  }50%{
     bottom: 20px;
   }100%{
      bottom: 30px;
    }
}

@media (max-width: 767px) {
  h2{
    font-size: 20px;
    text-align: center;
  }
  h5{
    text-align: center;
  }
  .p{
    font-size: 13px;
  }

  .wrap{
    width: 100%;
    /*display: flex;*/
  }

  .mouse{
    display: none;
  }

  .btn_wrap{

    /*margin-top: 2rem;*/
  }
  p{
    font-size: 15px;

  }



}


