<app-jumbotron></app-jumbotron>
<app-slide></app-slide>

<div class="dummy">


  <div class="wrap">
    <button routerLink="profile">user-role Auth guard test</button>
    <button routerLink="admin">admin-role Auth guard test</button>
    <button (click)="adminApiTest()">Admin API Test</button>
    <button (click)="userApiTest()">User API Test</button>
  </div>

  <h3>hi</h3>
</div>

<style>

  .wrap{
    margin-top: 10rem;
  }
  button{
    display: block;
    margin-top: 0.5rem;
  }
  .dummy{
    height: 100vh;
  }
</style>
